test/getreadynow.Tests/obj/Debug/netcoreapp3.1/getreadynow.test.csprojAssemblyReference.cache
test/getreadynow.Tests/obj/Debug/netcoreapp3.1/getreadynow.test.csprojAssemblyReference.cache
test/getreadynow.Tests/obj/Debug/netcoreapp3.1/getreadynow.test.assets.cache
test/getreadynow.Tests/UnitTest1.cs
